@import "tailwindcss";

@font-face {
  font-family: "Boska";
  src: url("../assets/fonts/Boska-VariableItalic.ttf") format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  /* --clr-primary-900: #0a0f1c; */
  --clr-primary-900: #090E23;
  --clr-primary-800: #121721;
  --clr-primary-400: #666666;
  --clr-primary-200: #9d9fa4;
  --clr-primary-100: #cecfd2;
  --clr-accent-1000: #1b36e0;
  --clr-accent-900: #455ce9;
  --clr-accent-400: #adb7f6;
  --clr-accent-200: #e8ebfc;
  --clr-accent-100: #f2f4ff;
  --clr-neutral-100: #ffffff;

  --font-primary: "Ubuntu", sans-serif;
  --font-heading: "Ubuntu", sans-serif;
  
  --font-boska: "Boska", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --text-heading-h1: 3rem;
  --text-heading-h2: 2.5rem;
  --text-heading-h3: 2.062rem;
  --text-heading-h4: 1.75rem;
  --text-heading-h5: 1.438rem;
  --text-heading-h6: 1.188rem;
  --text-tag: 0.812rem;
}

@layer base {
  body {
    color: var(--clr-neutral-100);
    font-family: var(--font-primary);
    font-size: var(--text-base);
    font-weight: 400;
    line-height: 1.5;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--clr-primary-900);
  }
  p {
    @apply mt-0.5 mb-2;
  }
  h1 {
    @apply text-heading-h1;
  }
  h2 {
    @apply text-heading-h2;
  }
  h3 {
    @apply text-heading-h3;
  }
  h4 {
    @apply text-heading-h4;
  }
  h5 {
    @apply text-heading-h5;
  }
  h6 {
    @apply text-heading-h6;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .container {
    @apply max-w-[90rem] mx-auto px-4 sm:px-6 lg:px-8;
  }
  .progress-step {
    position: relative;
  }
  .progress-step:not(:last-child):after {
    content: "";
    position: absolute;
    top: 14px;
    left: calc(50% + 20px);
    width: calc(100% - 40px);
    height: 2px;
    background-color: #e5e7eb;
    z-index: 0;
  }
  .progress-step.completed:not(:last-child):after {
    background-color: #4f46e5;
  }
  .progress-step-number {
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
  }
  .progress-step.completed .progress-step-number {
    background-color: #4f46e5;
    color: white;
  }
  .progress-step.active .progress-step-number {
    border-color: #4f46e5;
    color: #4f46e5;
  }
  .sm-title{
    font-family: var(--font-boska);
    font-weight: 900;
    color: var(--clr-accent-900);
    letter-spacing: 1px;
  }
}

@layer components {
}
